html {
	height:100%;
}
body {
	overflow	: hidden;
	padding		: 0;
	margin		: 0;

	color		: #222;
	background-color: #BBB;
	font-family: Papyrus, fantasy;
	font-size	: 100%;

	width: 100%;
	height: 100%;
}

#all{
	text-align:center; 
	width:100%;
	height:100%;
}

#title{
	height:40px;
	font-size: 40px;
	font-weight:bold;
}

#containers{
	width: 100%;
	position: fixed;
	top:50px;
	left:5px;
	bottom:40px;
}

#inputContainer{
	display:inline-block;
	width:49%;
	height:100%;
	border:1px solid #000000;
	position:absolute;
	top:0px;
	left:0px;
}

#outputContainer{
	display:inline-block;
	width:49%;
	height:100%;
	border:1px solid #000000;
	position:absolute;
	top:0px;
	left: 50%
}

#bottomInfo{

	height: 30px;
	position: absolute;
	top: auto;
	bottom: 0;
	width: 100%;
	font-size: 15px;	
}

#credits{
	position	: absolute;
	top		: 15px;
	right: 10px;
	font-size: 15px;
}

#refreshInfo{
	position	: absolute;
	top		: 10px;
	left: 10px;
	font-size: 20px;
}

#info .top {
	position	: absolute;
	top		: 0px;
	width		: 100%;
	padding		: 5px;
	text-align	: center;
}
#info a {
	color		: #66F;
	text-decoration	: none;
}
#info a:hover {
	text-decoration	: underline;
}
#info .bottom {
	position	: absolute;
	bottom		: 0px;
	right		: 5px;
	padding		: 5px;
}
